<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @page.url %>
</p>

<p>
  <b>Processed:</b>
  <%= @page.processed %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
